body{
    background: linear-gradient(90deg, rgba(255, 125, 147, 0.74)40%, rgba(0, 255, 55, 0.774) 100%);
}
form{
    text-align: center;
    margin-left: 30%;
    border-radius: 15px;
    height: 400px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.568);
    margin-top: 27%;
}
h1 {
    display: inline-flex;
    margin-top: 15%;
}

input{
    border-radius: 20px;
    margin-top: 3%;
    height: 30px;
    border-style: none;
    width: 250px;
    text-align: center;
    font-family: "Margarine", sans-serif;
}
button{
    margin-top: 50px;
    border-radius: 50px;
    border-style: none;
    width: 150px;
    height: 40px;
    font-family: "Margarine", sans-serif;
    background: linear-gradient(90deg, rgba(255, 125, 147, 0.74)40%, rgba(0, 255, 55, 0.774) 100%);
}