body{
    background: radial-gradient(circle at bottom right, rgba(0, 0, 0, 0.5), rgba(240, 230, 222) 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    
}

form{
    text-align: center;
    border-radius: 15px;
    height: 400px;
    width: 350px;
    background-color: rgb(0 0 0 / 75%);
}
h1 {
    color: rgb(240, 230, 222);
    display: inline-flex;
    margin-top: 15%;
}

input{
    border-radius: 20px;
    margin-top: 3%;
    height: 30px;
    border-style: none;
    width: 250px;
    text-align: center;
    font-family: "Margarine", sans-serif;
}
button{
    margin-top: 50px;
    border-radius: 50px;
    border-style: none;
    width: 150px;
    height: 40px;
    color: rgb(0 0 0);
    font-family: "Margarine", sans-serif;
    background-color: rgb(240, 230, 222);
}