body{
    width: 98%;
    height: 100vh;
    background-color: rgb(240, 230, 222);
}
.background-container{
    height: 100%;
    background-image: url('WhatsApp\ Image\ 2024-07-05\ at\ 20.44.46.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
form{
    text-align: center;
    border-radius: 15px;
    height: 400px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.568);
    margin-top: 27%;
}
h1 {
    display: inline-flex;
    margin-top: 15%;
}

input{
    border-radius: 20px;
    margin-top: 3%;
    height: 30px;
    border-style: none;
    width: 250px;
    text-align: center;
    font-family: "Margarine", sans-serif;
}
button{
    margin-top: 50px;
    border-radius: 50px;
    border-style: none;
    width: 150px;
    height: 40px;
    font-family: "Margarine", sans-serif;
    background: linear-gradient(90deg, rgba(255, 125, 147, 0.74)40%, rgba(0, 255, 55, 0.774) 100%);
}